.price_by_night {
    color:  #FF5A5F;
    border: #FF5A5F solid 4px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: center;
}
.guest_logo {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    height: 50px;
    background-position: center;
}
.room_logo {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    height: 50px;
    background-position: center;
}
.bath_logo {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    height: 50px;
    background-position: center;
}
.max_guest span, .number_rooms span, .number_bathrooms span {
    display: block;
    text-align: center;
}